body {
    padding: 20px;
    background-color: #f0f0f0;
}

.title {
    color: #5c6ac4;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}


.gallery img {
    margin: 10px;
    width: calc(33% - 20px); /* 3 images per
    row with margin */
    border-radius: 8px;
}